/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 100px;
}

.nav-title {
    color: #0D1321;
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 600;
}

.nav-btn {
    width: 228px;
    height: 58px;
    font-family: Azeret Mono;
    font-size: 20px;
    border: 1px solid #0D1321;
    border-radius: 8px;
    opacity: 0.8;
}

/* banner styles */
.banner {
    text-align: center;
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    background-image: url('../assets/Hero-bg.png');
}

.banner-content {
    text-align: center;
    width: 998px;
    height: 714px;
    padding: 26PX 221PX 88PX 221PX;
}

.banner-img {
    width: 240px;
    height: 240px;
}

.banner-title {
    color: #0D1321;
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
}

.banner-text {
    color: #0D1321;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
}

.Contact-btn {
    width: 244px;
    height: 65px;
    border-radius: 8px;
    background-color: #0D1321;
    color: white;
    font-family: Azeret Mono;
    font-size: 20px;
}

/* web-development section styles */
.web-development {
    width: 1140px;
    height: 1393px;
    margin: 0 auto;
    margin-top: 150px;
}

.why-web-outer {
    width: 946px;
    height: 1233px;
    margin: 0 auto;
    margin-top: 150px;
}

.why-web-inner {
    width: 852px;
    height: 113px;
    margin: 0 auto;
}

.why-web-title {
    color: #0D1321;
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.why-web-text {
    color: #0D1321;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.card {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.card-content {
    width: 477px;
    height: 219px;
}

.card-title {
    color: #0D1321;
    opacity: 0.7;
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
}

.card-text {
    color: #0D1321;
    opacity: 0.8;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

.card-btn {
    margin-top: 30px;
    width: 171px;
    height: 47px;
    font-family: Azeret Mono;
    font-size: 20px;
    opacity: 0.7;
}

/* my-inspiration section */
.my-inspiration {
    width: 1140px;
    height: 775px;
    margin: 0 auto;
}

.my-inspiration-first {
    width: 852px;
    height: 113px;
    margin: 0 auto;
}

.my-inspiration-title {
    color: #0D1321;
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.my-inspiration-text {
    color: #0D1321;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 80px;
}

.my-inspiration-second {
    width: 1140px;
    height: 614px;
    margin: 0 auto;
    margin-top: 80px;
}

.my-inspiration-video {
    border-radius: 16px;
    width: 1076px;
    height: 550px;
    display: block;
    margin: 0 auto;
}

/* my-current-target section */
.my-current-target {
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    margin-top: 200px;
}

.my-current-target-cards {
    width: 1140px;
    height: 299px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
}

.mct-card-content {
    width: 284px;
    height: 219px;
    padding: 50px;
    margin: 32px;
}

.mct-card-title {
    color: #0D1321;
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
}

.mct-card-text {
    color: #0D1321;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

.mct-learn-more {
    color: #0D1321;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

/* my-next-target section */
.my-next-target {
    width: 1140px;
    height: 890px;
    margin: 0 auto;
}

.my-next-target-cards {
    width: 1140px;
    height: 220px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.card-img {
    width: 145px;
    height: 90px;
    margin-left: 40px;
}

.card-descript {
    width: 892px;
    height: 140px;
}

/* need-support section */
.need-support {
    width: 1140px;
    height: 313px;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/handshake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    margin-top: 50px;
}

.need-support-content {
    width: 1140px;
    height: 313px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.need-support-title {
    color: #ffffff;
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.need-support-text {
    color: #ffffff;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.need-support-input {
    width: 548px;
    height: 57px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    opacity: 0.8;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

.need-support-btn {
    width: 120px;
    height: 57px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

/* footer styles */
footer {
    font-size: 20px;
    font-family: Azeret Mono;
    width: 1140px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 112px;
    margin-bottom: 40px;
}

.footer-icons {
    width: 157.01px;
    height: 36px;
    display: flex;
    justify-content: space-between;
}